html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
 box-sizing: inherit;
}
/* ------------------------------ */
/* HEADER */
header{
  font-size: 40px;
  padding-top: 15px;
  padding-left: 15px;
  background-color: #89f3ff;
  opacity: 0.5;
  font-weight: bold;
  /* background: linear-gradient(rgba(242, 231, 31,0.5),rgba(8, 118, 7,0.5)); */
  /* position: static; */
}
/* ------------------------------------- */

body{
  background: url("12.jpg") no-repeat fixed;
  background-size: cover;
  font-family: 'Gentium Book Basic', serif !important;

}
h1{
  text-align: center;
}
/* ---------------------------------------------------------------------- */

/* HOMEPAGE */
.container{
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 90px;

}
.header{
  flex: 2;
  text-align: center;
}
/* QUOTE */
.quote{
  margin-top: 25px;
}
.mb-quote{
  color:  #161327;
  font-weight: bold;
  padding: 20px 0;
  font-family : Baskerville, Georgia, serif;
  font-size : 25px;
  line-height : 46px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #8775ef;
  border-width: thick;
}
.mb-author{
  text-align : right;
  color : #153042;
  font-size : 28px;
  font-weight : bold;
  text-transform : uppercase;
}

/* --------------------------------------------------------------------- */

/* FORM */
.combine video{
  z-index: -1 !important;
  width: 690px;
  height: 390px;
  /* height: auto; */
  opacity: 0.7;
  /* position: relative; */
  transform: translateX(-0.5%) translateY(-58%);
  border: 2px solid blue;
}
.combine{
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 10px;

  margin-left: 240px;
  position: relative;
/* overflow: hidden; */
/* height: inherit; */
  /* min-height: 90px; */
  /* border: 3px solid white; */
  /* background-color: rgba(255, 0, 0, 0.5); */
  height: 385px;
  width: 270px;
  background-color: rgba(255,255,255,0.7);
  z-index: 2 !important;
}

.register{
  /* flex: 3; */
  color: black;
  z-index: 2 !important;
}
.login{
  /* flex: 2; */
  color: black;
  z-index: 2 !important;
}



.form-group{
    font-family: 'Lobster Two', cursive;

}
.form-control{
    text-align: center;
    font-family: 'Satisfy', cursive;
    display: inline-block;
}

.col-narrow{
  width: 50%;
  float: left;
  padding: 10px;
  min-height: 116px;
}
.col-wide{
  width: 50%;
  float: left;
  padding: 10px;
  padding-left: 0px;
  min-height: 116px;
}
.form-format{
  /* max-width: 50%; */
  /* margin: auto; */
  align-items: center;
  margin: 50px 0;
  border-radius: 5%;
  /* padding-top: 25px; */
  /* border-style: double; */
  color: #26180b;
  /* border: 5px solid brown; */
  background-image: linear-gradient(to right bottom, #fcad67, #d58e4f, #af7038, #8a5322, #67380c);
}
.button{
  text-align: center;
}
 .btn.btn-primary{
  padding-bottom: 10px;
   background-image: linear-gradient(to right top, #a60810, #ba1a25, #cd2839, #e0374e, #f24563);
   border-radius: 40%;
   border-width: 0;
}

/* ----------------------------------------------------------- */
/* loggedin-page */
.logged-in{
  display: grid;
  grid-template-columns: 66% 33%;
}
.collections{
  grid-column-start: 1;
  grid-column-end: 2;
  /* grid-row-start: 2;
  grid-row-end: 3 */
}
.search{
  grid-column-start: 2;
  grid-column-end: 3;
  /* grid-row-start: 2;
  grid-row-end: 3 */
}

.accordion{
  width: 50%;
  color: blue;
  font-size: 15px;
  margin: 15px auto;
  text-align: center;
}
.card-header{
   background-image: linear-gradient(to right top, #09326d, #005e9b, #008cc0, #00bcd9, #12ebe9);
}
.btn.btn-link{
  color: white;
}
.card-body{

}
/* ---------------------------------------- */
/* SEARCH RESULTS */
table{
  margin-left: 50px;
}
.title{
  font-size: 25px;
  font-weight: bold;
}
.author{
  font-size:20px;
}
/* ---------------------------------------------- */
/* RATING SYSTEM */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  /* width: 0; */
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
/* ----------------------------------- */
/* BOOK DETAILS PAGE */

.details{
  text-align: center;
  font-weight: bold;
  margin: 15px;
  font-size: 350%;
}

/* SUBMIT RATINGS */
/* *{
    margin: 0;
    padding: 0;
} */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* .ratings{
  margin: 20px;
  margin-left: 280px;
} */
